<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      FilmSave
    </title>
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="./styles/styles.css"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: linear-gradient(90deg, #ff2323 0%, #131313 100%);
      }
    </style>
  </head>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <%- include('common/header'); -%>
    <!--Hero-->
    <div class="pt-24">
        <div class="max-w-fit mx-auto">
          <a href="add-film"><button type="submit" class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
            Add film
          </button></a>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="filmTable">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Title
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Genre
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Premiere
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Runtime
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    IMDB Score
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Language
                                </th>
                                <%if(global.user){%>
                                <th scope="col" class="px-6 py-3">
                                    
                                </th>
                                <%if(global.user.admin){%>
                                    <th scope="col" class="px-6 py-3">
                                    
                                    </th>
                                <%}
                                %>
                            <%}%>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                            films.forEach(film => {
                            %>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    <%=film.Title%>
                                </th>
                                <td class="px-6 py-4">
                                    <%=film.Genre%>
                                </td>
                                <td class="px-6 py-4">
                                    <%=film.Premiere%>
                                </td>
                                <td class="px-6 py-4">
                                    <%=film.Runtime%>
                                </td>
                                <td class="px-6 py-4">
                                    <%=film["IMDB Score"]%>
                                </td>
                                <td class="px-6 py-4">
                                    <%=film.Language%>
                                </td>
                                <%
                                if(global.user){ 
                                %>
                                <td class="px-6 py-4 text-right">
                                    <form method="POST" action="/added-film-user">
                                    <button type ="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Add</button>
                                    <input value="<%= film._id %>" type="hidden"  id="id" name="id" placeholder="Enter Title"/>
                                    <input value="<%= film.Title %>" type="hidden"  id="title" name="title" placeholder="Enter Title"/>
                                    </form>
                                </td>
                                <%if(global.user.admin){%>
                                <td class="px-6 py-4 text-right">
                                  <form method="POST" action="/remove-film">
                                    <button type ="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Remove</button>
                                    <input value="<%= film._id %>" type="hidden"  id="id" name="id" placeholder="Enter Title"/>
                                    </form>
                                </td>
                                <%}
                                %>
                                <%}%>
                            </tr>
                            <%
                        });
                        %>            
                        </tbody>
                    </table>
                </div>
                <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
            </div>
    </div>
  </body>
</html>
